:root {
  --border: rgb(8,52,123);
  /*--background:rgb(245,245,245)*/
  --background：rgb(255,255,255)
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

body{
  margin-left: 0;
  margin-top: 0;
  background-color: var(--background);
}
.top{
  height: 8%;
  width: 100%;
/*background-color: rgb(245,245,245);*/
    background: url(../images/logo.png) no-repeat 3% center;
    border-bottom: 1px solid var(--border);
  /* background-color: rgb(255,255,255);*/
}
.title{
 height: 100%;
 width: 100%;
    margin-top: 5px;

}
.bottom{
 height: 92%;
 width: 100%;

}
.bottomLeft{
 float:left;
 height:100%;
 width: 72.7%;
 border-right: 1px solid var(--border);
}
.bottomRight{
 float:left;
 height: 100%;
 width: 27.3%;
 /*border-left: 1px solid var(--border);*/
}
.options{
 /*height: 2.9%;*/
    height: 0%;
    width: 100%;
 background-color: rgb(75,164,214);
}

.title image{
     width: 100%;
    height: 100%;
    x:10;
    y:10;
    width:20px;
    height:20px
}


{ margin:0; padding:0; list-style:none;}
body{ font-size:12px; text-align:left;}

a{ text-decoration:none; color:#333;}
a:hover{ text-decoration:none;}

.hide{ position:absolute;width:1.5%; height:30px; top:47%;line-height:30px; background:url(../images/long2.png) no-repeat 11px center #99D3F8; padding-left:35px; color:#fff; margin-bottom:4px;}

.left_nav{

    width:14%; height:55%;padding:0px;position:fixed;
    background-color: rgba(255,255,255,0);
    margin-left:2%;
    margin-top:-3px;
   /* left:50%; top:50%;
    margin:-170px 0px 0px -650px;*/
    z-index:777;
    /*border:1px solid #CDCDCD;*/
}
.left_nav dl dt{ width:15%; height:30px; line-height:30px; background:url(../images/long2.png) no-repeat 12px center rgb(75, 164, 214); padding-left:35px; color:#fff; margin-bottom:4px;}
.left_nav dl dd{ width:160px; height:16%;margin-left: 0;display: none;}
.left_nav dl dd a{
    font-size: 3px;
}
.left_nav dl dd a.nav_left{
    width:160px;
    height:42px;
    line-height:42px;
    background:url(../images/left_nav_dt_bg.png) no-repeat 150px center ; padding-left:10px; display:block; border-bottom:1px solid #e0e0e0;
   /* color:#3C4347;*/
    background-color: rgba(224,224,224,0.1);
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
    font-size: 8px;}
.left_nav dl dd .nav_right{ width:55px; height:auto;overflow:hidden; position:absolute; display:none;left:160px; top:38px; padding:0px 5px 10px 5px;
   /* background:#fff;*/
    background-color: rgba(243,243,243,0.1);
    border:1px solid #ccc;}
.left_nav dl dd .nav_right a{ width:100%;height:15px; line-height:15px; text-align:left;
    color:#666;
    padding-left:5px;
    /*background:url(../images/nav_right_bg.png) no-repeat 10px center;*/

    display:block; float:left; margin-top:10px; white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;}
.left_nav dl dd a:hover{
    color: white;
}
.left_nav dl dd a.nav_left:hover{background:url(../images/left_nav_dt_bg2.png) no-repeat 150px center rgb(75, 164, 214);}
.left_nav dl dd .nav_right a:hover{ width:100%;height:15px; line-height:15px; text-align:left;
    color:rgb(75, 164, 214);padding-left:10px;
    /*background:url(../images/nav_right_bg2.png) no-repeat 10px center #E6238F; */
    text-decoration:none;}


/*
.left_nav dl dt{ width:80%; height:22px; line-height:22px; background:url(../images/long.png) no-repeat 12px center #E6238F; padding-left:35px; color:#fff; margin-bottom:4px;}
.left_nav dl dd{ width:90%; height:30px; position:relative;}
.left_nav dl dd .nav_right{ width:10%; height:auto; overflow:hidden; position:absolute; left:10%; top:0px; padding:0px 5px 10px 5px;background:#fff; display:none; border:1px solid #ccc;}
.left_nav dl dd .nav_right a{ width:110px;height:20px; line-height:20px; text-align:left; color:#666;padding-left:40px; background:url(../images/nav_right_bg.png) no-repeat 20px center; display:block; float:left; margin-top:10px; white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;}
.left_nav dl dd .nav_right a:hover{ width:110px;height:20px; line-height:20px; text-align:left; color:#fff;padding-left:40px; background:url(../images/nav_right_bg2.png) no-repeat 20px center #E6238F; text-decoration:none;}
.left_nav dl dd a.nav_left{width:107px; height:29px; line-height:29px; background:url(../images/left_nav_dt_bg.png) no-repeat 105px center #E0E0E0; padding-left:13px; display:block; border-bottom:1px solid #fff;color:#3C4347; white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;}
.left_nav dl dd a.nav_left:hover{background:url(../images/left_nav_dt_bg2.png) no-repeat 105px center #E6238F;
*/


.mainTimeChart{
 height: 20.4%;
 width: 100%;
 /*background-color: rgb(215,215,215);*/
  border-bottom: 1px solid var(--border);
}
.graph{
    /*position:fixed;*/
  height: 57.9%;
  width: 100%
}
.nodeTimeChart{
  height: 20.7%;
  width: 100%;
  /*background-color: rgb(215,215,215);*/
  border-top: 1px solid var(--border);
  /*overflow-y: scroll;*/

}
.optionTab{
  height: 4.7%;
  width: 100%;
}
/*#rightTabs{*/
  /*height: 100%;*/
  /*width: 100%;*/
/*}*/
.scatterDiagram{
  height: 42.4%;
  width: 100%;
  /*background-color: rgb(190,190,190);*/
  border-bottom: 1px solid var(--border);
}
.subChart{
  height: 21.2%;
  width: 100%;
  /*background-color: rgb(190,190,190);*/
}
.room{
  height:31.7%;
  width: 100%;
  border-top: 1px solid var(--border);
  /*background-color: rgb(190,190,190);*/
}
.ruler{
  height:0;
  width:0;
  visibility:hidden;
  font-family: "Microsoft YaHei", serif;
  font-size:12px;
}

ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}

.selectDiv cite{
  height:24px;
  line-height:24px;
  display:block;
  cursor:pointer;
  font-style:normal;
  background:url(xjt_new.png) no-repeat right center;
}
.selectDiv ul{
  position:absolute;
  z-index:20000;
  margin-top:-1px;
  display:none;
}
.selectDiv ul li{
  /*width: 400px;*/
  height:24px;
  line-height:24px;
}
.selectDiv ul li a{
  background-color: rgb(50,70,90);
  color: #ffffff;
  display:block;
  height:24px;
  text-decoration:none;
  padding-left:10px;
  padding-right:10px;
}
.selectDiv ul li a:hover{
  background-color:rgb(147,165,167);
}
.svg{
    height: 100%;
    width: 100%;
}
.axisSVG{
    height: 100%;
    width: 100%;
}
.nodeAxisSVG{
    height: 100%;
    width: 100%;
}

.area {
    stroke: rgb(189,224,246);
    stroke-width: 1px;
    fill: rgb(189,224,246);
    clip-path: url(#clipTop);
}

.areaBottom {

    /*clip-path: url(#clipTop);*/
}

.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;

}
.axis path,
.axis line{
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
