extends layout

block content
    div.top
        div.title

    div.bottom
        div.bottomLeft

            div.mainTimeChart
                svg.axisSVG
            div.graph
                div.hide
                div.left_nav
                    dl
                svg.svg
            div.nodeTimeChart
                svg.nodeAxisSVG
        div.bottomRight
            div.optionTab
                div#rightTabs.rightTabs
            div.scatterDiagram
            div.subChart
            div.room
    span#ruler.ruler


