doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/w2ui.css')
        link(rel='stylesheet', href='/stylesheets/rightLayer.css')
        script(src='/javascripts/d3.v4.js')
        script(src='/javascripts/d3.multi.selection.js')
        script(src='/javascripts/jquery.js')
        script(src='/javascripts/jquery-2.1.3.min.js')
        script(src='/javascripts/stringFunction.js')
        script(src='/javascripts/d3.multi.selection.js')
        script(src='/javascripts/w2ui.min.js')
        script(src='/javascripts/viz.js')
        //script(src='/javascripts/keybinding.js')
    body
        block content
        script(src='anomaly/start.js')
        //script(src='anomaly/processData.js')
